{
  "printWidth": 200,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "functionCallArguments": "single-line",
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "parenSpacing": false,
  "jsxParens": "avoid",
  "overrides": [
    {
      "files": ["*.tsx", "*.jsx"],
      "options": {
        "parser": "typescript",
        "bracketSameLine": true,
        "parenSpacing": false,
        "jsxParens": "avoid"
      }
    }
  ]
} 