<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873379055173-5urb890l5orirvp4oc00j7ombk1jkvbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873379055173-5urb890l5orirvp4oc00j7ombk1jkvbg</string>
	<key>API_KEY</key>
	<string>AIzaSyAoagubkV0qhODOh7-VWbvgT8veaC3bIV4</string>
	<key>GCM_SENDER_ID</key>
	<string>873379055173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>church.b1.mobile</string>
	<key>PROJECT_ID</key>
	<string>b1mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>b1mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873379055173:ios:75a49ff7217e2c16e1452c</string>
</dict>
</plist>